[settings]
profile = black
multi_line_output = 3
line_length = 88
known_django = django
known_first_party = pageviews,portfolio_backend
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
skip = venv,migrations,__pycache__ 